{% extends 'main.html' %} {% block content %}
<h1>Projects</h1>

<!-- for loop -->
<!-- {% for i in projects %} {{ i }} {% endfor %} -->

<p>
  <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum. -->
  <table>
    <tr>
      <th>ID</th>
      <th>Project</th>
      <th>Votes</th>
      <th>Ratio</th>
      <th>Create time</th>
    </tr>
    {% for field in projects %}
    <tr>
      <th>{{field.id}}</th>
      <th>{{field.title}}</th>
      <th>{{field.vote_total}}</th>
      <th>{{field.vote_ratio}}</th>
      <th>{{field.created}}</th>
      <th><a href="{% url 'update-project' field.id %}">Edit</a></th>
      <th><a href="{% url 'delete-project' field.id %}">Delete</a></th>
      <th><a href="{% url 'project' field.id %}">View</a></th>
    </tr>
    {% endfor %}
  </table>

</p>

{% endblock content %}
